<!DOCTYPE html>
<html>
  <head>
    <title><%=   title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    
<form action="/login">
First name: <input type="text" name="username" value="" placeholder="Username"><br>
Last name: <input type="password" name="password" value="" placeholder="password"><br>
<input type="submit" value="Submit">
</form>

  </body>
</html>